:root {
    --red: hsl(0, 100%, 98%);
    --yellow: hsl(39, 100%, 98%);
    --green: hsl(166, 100%, 98%);
    --blue-text: hsl(234, 85%, 45%);
    --blue-gradient-1: hsl(252, 100%, 63%);
    --blue-gradient-2: hsl(241, 81%, 57%);
    --violet-gradient-1: hsla(256, 72%, 46%, 1);
    --blue-dark: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --white-gray-1: hsl(0, 0%, 60%);
    --white-gray: hsl(0, 0%, 80%);
    --blue-main: hsl(221, 100%, 98%);
    --lavender: hsl(241, 100%, 98%);
    --dark-blue-button: hsl(224, 30%, 27%);
}

body {
    height: 100vh;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    text-align: center;
}
/*Add font-weight to different sections od card-1 */
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.box-shadow{
    display: grid;
    box-shadow: 0px 15px 25px var(--blue-main);
    border-radius: 25px;
}

.card-1 {
    color: var(--white);
    background: linear-gradient(
        var(--blue-gradient-1), var(--blue-gradient-2) 60%
        );
    border-radius: 25px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
}

.circle {
    background: linear-gradient(
        var(--violet-gradient-1) , var(--blue-gradient-2) 90%);
    border-radius: 50%;
    width: 160px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.circle h1, .circle p {
    margin: 0
}

.circle p {
    color: var(--white-gray-1);
}

.circle h1 {
    font-size: 3em;
    font-weight: 800;
}

h2 {
    margin-bottom: 0;
}

.body-text {
    color: var(--white-gray);
    font-weight: 500;
}

header {
    font-weight: 600 !important;
    font-size: 1.2em;
}

.card-2 {
    width: 265px;
    grid-column: 3 / 4;
    border-radius: 25px;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.card-2 header {
    display: flex;
    margin-bottom: 1em;
}

.container-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.container-score-text {
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.container-score-text p {
    color: var(--white-gray-1);
}

.text {
    display: inline-flex;
    justify-content: flex-start;
    margin-right: 3em;
    min-width: 70px;
    font-weight: 500;
}

svg {
    margin: 0 1em;
}

/* font-weight: 600; */

span {
    color: var(--dark-blue-button);
    font-weight: 600;
}

.red {
    background-color: var(--red);
    color: hsl(0, 100%, 70%);
}

.yellow {
    background-color: var(--yellow);
    color: hsl(39, 100%, 65%);
}

.green {
    background-color: var(--green);
    color: hsl(166, 100%, 35%);
}

.lavender {
    background-color: var(--lavender);
    color: hsl(241, 100%, 35%);
}